<!-- index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>My Website</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <!--<li><a href="/register">Register</a></li>-->
            <li><a href="/login">Login</a></li>
        </ul>
    </nav>
    <div class="container">
        <h2>Welcome to My Website</h2>
    </div>
</body>
</html>
